/**
 * Simply Steam UI
 * Created by Denis G.
 * Last update: 2016-06-13
 *
 * Use Github for submit your request or issues.
 * https://github.com/denis-g/userstyle-simply-steam-ui
 */

@namespace url('http://www.w3.org/1999/xhtml');
@-moz-document domain('store.steampowered.com'), domain('steamcommunity.com') {
/* ---BEGIN--- */

/*************
    HEADER
**************/
/* fixed position */
html body {
	padding-top: 48px; /* menu height */
	}
html body div#global_header {
	border: none;
	position: fixed !important;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	background: rgba(23, 26, 33, 0.9);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.5);
	}
	/* redesign main menu */
	html body div#global_header .content {
		height: 48px; /* menu height */
		background: none;
		}
		html body div#global_header div.logo {
			padding: 0;
			margin: 0;
			width: auto;
			height: auto;
			}
			html body div#global_header div.logo a {
				display: block;
				width: 140px;
				height: 48px;
				background: url(http://store.akamai.steamstatic.com/public/shared/images/responsive/header_logo.png) no-repeat 0 50%;
				background-size: auto 34px;
				opacity: 0.7;
				}
			html body div#global_header div.logo a:hover {
				opacity: 1;
				}
			html body div#global_header div.logo img {
				display: none;
				}
		html body div#global_header .supernav_container{
			left: 190px;
			}
			html body div#global_header .menuitem {
				width: 180px;
				text-align: center;
				padding: 0;
				line-height: 48px;
				border-right: 1px solid rgba(255, 255, 255, 0.1);
				}
			html body div#global_header .menuitem:first-child {
				border-left: 1px solid rgba(255, 255, 255, 0.1);
				}
			html body div#global_header .menuitem:hover {
				color: #000;
				background: #ccc;
				}
				html body div#global_header .submenuitem {
					color: #8F98A0;
					font-size: 12px;
					font-weight: normal;;
					line-height: 1.1;
					padding: 10px 14px;
					text-align: center;
					}
				html body div#global_header .submenuitem:not(:last-child) {
					border-bottom: 1px solid rgba(255, 255, 255, 0.1);
					}
				html body div#global_header .submenuitem:hover {
					color: #000;
					background: #ccc;
					}
				html body div#global_header .submenuitem[href="http://steamcommunity.com/greenlight/"] {
					color: #00b043;
					font-weight: bold;
					}
				html body div#global_header .submenuitem[href="http://steamcommunity.com/greenlight/"]:hover {
					color: #fff;
					background: #00b043;
					}
			html body div#global_header .supernav_content {
				padding: 0;
				width: 182px;
				max-width: none;
				margin: 3px 0 0 0;
				}
			html body div#global_header div[data-submenuid] {
				width: 100%;
				max-width: none;
				}
		/* fix price in userbar */
		html body div#global_actions a.global_action_link {
			white-space: nowrap;
			}
		/* user menu */
		html body #language_pulldown.focus,
		html body #account_pulldown.focus {
			margin: 1px; /* revert to default */
			border: none;
			}
		html body div#global_action_menu .popup_block_new {
			box-shadow: none;
			}
			html body div#global_action_menu .popup_block_new .popup_body {
				border: none;
				background: rgba(23, 26, 33, 0.9);
				padding: 0;
				}
				html body div#global_action_menu .popup_menu .hr,
				html body div#global_action_menu .popup_menu .header_notification_dropdown_seperator {
					display: none;
					}
				html body div#global_action_menu .popup_menu .popup_menu_item {
					color: #8F98A0;
					font-size: 12px;
					font-weight: normal;
					line-height: 1.1;
					padding: 10px 14px;
					text-align: center;
					text-transform: uppercase;
					}
				html body div#global_action_menu .popup_menu .popup_menu_item:hover {
					color: #000;
					background: #ccc;
					}
				html body div#global_action_menu .popup_menu .popup_menu_item:not(:last-child) {
					border-bottom: 1px solid rgba(255, 255, 255, 0.1);
					}
				html body div#global_action_menu .popup_menu .popup_menu_item[href="javascript:Logout();"] {
					color: #b03500;
					font-weight: bold;
					}
				html body div#global_action_menu .popup_menu .popup_menu_item[href="javascript:Logout();"]:hover {
					color: #fff;
					background: #b03500;
					}
			/* specially for notifications */
			html body div#global_action_menu .popup_block_new#header_notification_dropdown {
				}
				html body div#global_action_menu .popup_block_new#header_notification_dropdown .notification_icon {
					float: left;
					}
				html body div#global_action_menu .popup_block_new#header_notification_dropdown .notification_count {
					font-weight: bold;
					}
				html body div#global_action_menu .popup_block_new#header_notification_dropdown .popup_menu_item {
					text-align: left;
					}
			/* fixed height */
			html body div#global_action_menu .popup_block_new#language_dropdown {
				}
				html body div#global_action_menu .popup_block_new#language_dropdown .popup_body {
					max-height: 260px;
					overflow-y: auto;
					-webkit-overflow-scrolling: touch;
					}


/***************
    HOMEPAGE
****************/
/* store menu design fix */
html body .store_nav .tab {
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	}
html body div#store_search {
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	}
html body a.home_smallcap,
html body .curated_app_item,
html body .game_description_column .block .block_content a {
	border-color: rgba(0,0,0,0.5);
	}


/***************
    WISHLIST
****************/
/* usability fix */
html body #wishlist_items input.wishlist_rank {
	font-size: 11px;
	}
html body #wishlist_items .price,
html body #wishlist_items .discount_block_inline {
	font-size: 16px;
	}
html body #wishlist_items .price {
	color: #eee;
	}


/***************
    IMAGES
****************/
/* usability fix */
html body .sharedfiles_usercontrols_label {
	vertical-align: middle;
	}


/***************
    SORTING
****************/
html body .sort_options a,
html body .sort_options .selected_sort,
html body #friends_sort_options span {
	display: inline-block;
	vertical-align: middle;
	padding: 6px 8px;
	margin: 0;
	font-size: 11px;
	line-height: 1.2;
	color: #407898;
	text-decoration: none;
	}
html body #friends_sort_options span {
	margin-left: 0.75em;
	}
html body .sort_options a:hover,
html body #friends_sort_options span:hover {
	color: #fff;
	}
html body .sort_options .selected_sort,
html body #friends_sort_options span:not(.es_friends_sort_link) {
	color: #67c1f5;
	background: #18222e;
	text-decoration: none;
	}


/*************
    BADGES
**************/
/* in badges page */
html body .profile_xp_block_remaining_bar_progress {
	background: #ccc;
	}


/*************
    PROFILE
**************/
html body .game_info_achievement.plus_more,
html body .showcase_achievement.plus_more {
	box-shadow: none;
	}
html body .achievement_progress_bar_ctn {
	border: none;
	box-shadow: none;
	height: 10px;
	padding: 0;
	background: #58595e;
	margin-right: 4px;
	}
html body .achievement_progress_bar_ctn .progress_bar {
	height: 10px;
	background: #ccc;
	filter: none;
	}


/*************
 BUTTON DESIGN
**************/
html body .btn_profile_action,
html body .btn_green_white_innerfade,
html body .btn_blue_white_innerfade,
html body .btn_darkblue_white_innerfade,
html body .btn_grey_white_innerfade,
html body .btn_grey_grey_outer_bevel,
html body .btn_grey_black {
	background: none;
	padding: 0;
	border: none;
	}

html body .btnv6_green_white_innerfade {
	background: #799905;
	}
html body .btnv6_green_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	background: #A4D007;
	}
html body .btn_grey_white_innerfade {
	background: #acb5bd;
	}
html body .btn_grey_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	background: #acb5bd;
	}
html body .btn_profile_action > span {
	background: #33425a;
	}
html body .btn_profile_action:hover > span,
html body .btn_profile_action.focus > span {
	background: #526d95;
	}
html body .btn_green_white_innerfade {
	color: #fff !important;
	}
html body .btn_green_white_innerfade > span {
	background: #799905;
	}
html body .btn_green_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
	background: #A4D007;
	}
html body .btn_blue_white_innerfade > span {
	background: #82a6d7;
	}
html body .btn_blue_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
	background: #9ab7de;
	}
html body .btn_darkblue_white_innerfade > span {
	background: rgba(33, 101, 138, 1);
	}
html body .btn_darkblue_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
	background: #989b9e;
	}
html body .btn_grey_white_innerfade > span {
	background: #778088;
	}
html body .btn_grey_white_innerfade:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
	background: #99a2aa;
	}
html body .btn_grey_grey_outer_bevel > span {
	background: #2B2B2B;
	}
html body .btn_grey_grey_outer_bevel:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span {
	background: #445b7c;
	}
html body .item_market_action_button_green > .item_market_action_button_contents {
	background: #799905;
	}
html body .item_market_action_button_green:hover > .item_market_action_button_contents {
	background: #A4D007;
	}
html body .btnv6_lightblue_blue {
	background: rgba(193, 228, 249, 1);
	}
html body .btnv6_lightblue_blue:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover {
	background: rgba(102, 192, 244, 1);
	}

/*************
    REMOVE
**************/
/* "Install Steam" button */
html body .header_installsteam_btn,
/* duplicate links from main menu */
html body div#global_header .menuitem[href^="https://help.steampowered.com/"],
html body div#global_header .menuitem[href="http://store.steampowered.com/about/"],
html body div#global_header .submenuitem[href="http://store.steampowered.com/"],
html body div#global_header .submenuitem[href="http://steamcommunity.com/"] {
	display: none;
	}


/**************
    SQUARED
***************/
/* all box */
html body .home_page_gutter_block,
html body .profile_header_badge,
html body .profile_xp_block,
html body .badge_row,
html body .badge_row_inner,
html body .gamecard_details .badge_info,
html body .game_info_badge_border,
html body .profile_customization,
html body .recent_game,
html body .recent_game .game_info_stats,
html body .favoritegame_showcase .game_info_stats,
html body .showcase_content_bg,
html body .game_purchase_action_bg,
html body #package_savings_bar,
html body .authcode_entry_box,
html body .twofactorauthcode_entry_box,
html body .completed_badge_animation_ctn,
html body .completed_badge_ctn,
html body .completed_badge_inner,
html body .badge_reward_ctn,
html body .badge_reward,
html body .alertbox_content,
html body .warningPanel,
html body .warningSign,
html body #rightContents .box,
html body .miniReviewBlock,
html body blockquote.bb_blockquote,
html body .bb_wysiwyg blockquote,
html body .commentthread_entry_quotebox,
html body .member_block .rank_icon,
html body .miniprofile_content,
html body .miniprofile_favorite_badge,
html body .community_home_search_apps,
html body .community_home_search_players,
html body a.linkbar_active,
html body .community_tooltip,
html body #BG_top > .user_info,
html body .store_tooltip,
html body .apphub_CardContentDiscussionText,
html body .profile_background_select_option,
html body .group_list_option,
/* all tabs */
html body .home_tab,
html body .home_tab .tab_content,
html body .apphub_sectionTab,
html body a.apphub_sectionTab,
html body .apphub_sectionTab.active > span,
html body .games_list_tabs,
html body .games_list_tab.first_tab,
html body a.games_list_tab.first_tab,
html body .games_list_tab.fourth_tab,
html body a.games_list_tab.fourth_tab,
html body .sectionTab,
html body a.sectionTab,
html body .tabarea .tab,
html body .tabarea .tab .tab_content,
html body .group_tab,
html body .tabCount,
html body .tabOff,
html body .tabOn,
/* all progress bars */
html body .achievement_progress_bar_ctn,
html body .achievement_progress_bar_ctn .progress_bar,
html body .profile_xp_block_remaining_bar,
html body .profile_xp_block_remaining_bar_progress,
html body .apphub_ProgressBarBG,
/* all buttons */
html body .btn_border_2px,
html body .btnv6_border_2px,
html body div.store_header_btn,
html body .home_btn,
html body .btn_grey_grey,
html body .btn_grey_grey > span,
html body .btn_grey_black,
html body .btn_grey_black > span,
html body .btn_grey_white_innerfade,
html body .btn_grey_white_innerfade > span,
html body .btn_grey_grey_outer_bevel,
html body .btn_grey_grey_outer_bevel > span,
html body .btn_black,
html body .btn_black > span,
html body .btnv6_grey_black,
html body .btnv6_grey_black > span,
html body .btn_blue_white_innerfade,
html body .btn_blue_white_innerfade > span,
html body .btnv6_blue_hoverfade,
html body .btnv6_blue_hoverfade > span,
html body .btnv6_blue_blue_innerfade,
html body .btnv6_blue_blue_innerfade > span,
html body .btn_darkblue_white_innerfade,
html body .btn_darkblue_white_innerfade > span,
html body .btn_green_white_innerfade,
html body .btn_green_white_innerfade > span,
html body .btnv6_green_white_innerfade,
html body .btnv6_green_white_innerfade > span,
html body .btnv6_lightblue_blue,
html body .btnv6_lightblue_blue > span,
html body .btn_medium,
html body .btn_medium > span,
html body .modal_buttons .auth_button,
html body #ScreenshotUploadLink,
html body #VideoUploadLink,
html body .pullup_item,
html body .general_btn,
html body #ScreenshotManagementToggle,
html body .modalFullItemLink,
html body .ScreenshotManagementButton,
html body .BroadcastButton,
html body .hover_details_block,
html body .hover_details_block_full,
html body a.forum_comment_action,
/* all inputs */
html body input[type="text"],
html body input[type="password"],
html body select,
html body textarea,
html body .dselect_container a.trigger,
html body .dselect_container a.activetrigger,
html body #term,
html body input.gray_bevel,
html body textarea.gray_bevel,
html body .gray_bevel,
html body .commentthread_comment_edit_textarea_ctn,
html body .blotter_status_entry .commentthread_entry_quotebox,
html body .blotter_comment_thread .commentthread_entry_quotebox,
html body .profileFriendSearchBox,
html body div#headerSearch.friend_activity_header_search,
html body div.filterselect,
html body .review_controls .controlblock .dselect_container,
/* popups */
html body .newmodal_header_border,
html body .newmodal_header,
html body #modalContent.modal_frame,
/* other elements */
html body .app_tag,
html body .slider,
html body .slider_ctn .slider_left,
html body .slider_ctn .slider_right,
html body .slider .handle,
html body .pagebtn,
html body a.pagebtn {
	border-radius: 0 !important;
	}

/* fix square box with background image */
html body .alertbox_header {
	background: #5c7e10;
	}
html body .profile_customization {
	background: #2D3C51;
	box-shadow: inset -400px 20px 100px rgba(0, 0, 0, 0.5);
	}
/* remove buttons background */
html body .apphub_BackToTopButton.leftcap,
html body .apphub_BackToTopButton.rightcap,
html body .alertbox_header .leftcap,
html body .alertbox_header .rightcap,
html body .item_market_action_button_left,
html body .item_market_action_button_right {
	display: none;
	}


/*************
 ENHANCEDSTEAM
**************/
html body .blotter_author_block .es_highlight_owned,
html body .blotter_author_block .es_highlight_wishlist,
html body .blotter_author_block .es_highlight_coupon,
html body .blotter_author_block .es_highlight_inv_gift,
html body .blotter_author_block .es_highlight_inv_guestpass,
html body .blotter_author_block .es_highlight_friends_want,
html body .tags span,
html body .profile_link_icon.profile_link_icon_background,
html body .dailydeal,
html body .dailydeal .timer,
html body #es-lightbox img,
html body .es-prev,
html body .es-next,
html body .es_game_purchase_action_bg,
html body .performance-graph,
html body .es-group-leave-button {
	border-radius: 0 !important;
	}
html body #enhanced_pulldown {
	display: none;
	}
html body #es_progress {
	margin-top: 0;
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 2px;
	height: 2px;
	}
html body #es_progress.error,
html body #es_progress.complete {
	width: 36px; /* avatar width */
	}
html body #es_progress::-webkit-progress-bar {
	border-radius: 0;
	box-shadow: none;
	}
html body #es_progress::-webkit-progress-value {
	border-radius: 0;
	box-shadow: none;
	}
html body #es_progress.error::-webkit-progress-value {
	border-radius: 0;
	box-shadow: none;
	}
html body .es_highlight_wishlist .col.search_released {
	/* readibily */
	color: rgba(255,255,255,0.3);
	}

/* ---END--- */
}
